.heroContainer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	height: 270px;
	padding: 1rem;
	gap: 2rem;
}

.image {
	border-radius: 10px;
	min-width: 200px;
}

/* Media */
@media screen and (min-width: 660px) {
	.image {
		max-height: 250px;
	}
}
