.heroContainer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	height: 270px;
	padding: 1rem;
	gap: 2rem;
}

.image {
	border-radius: 10px;
	min-width: 200px;
}

.imageThree {
	display: none;
	border: 50%;
	height: 100%;
}

.imageTwo {
	display: none;
}

/* Media */
@media screen and (min-width: 660px) {
	.image {
		max-height: 250px;
	}

	.imageTwo {
		display: inline;
	}
}

@media screen and (min-width: 1029px) {
	.imageThree {
		display: inline;
	}
}
