.header {
	position: sticky;
	top: 0;
	background-color: var(--col-header-bg);
	background-size: cover;
	background-position: center;
	color: white;
	height: 96px;
	font-size: 1.8rem;
	transition: height 200ms ease-out;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
	padding: 0 20px;
}

.leftHeader {
	display: flex;
	flex: 1;
	align-items: center;
}

.hamburger {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	cursor: pointer;
	padding-right: 3rem;
}

.line {
	display: block;
	background-color: white;
	height: 0.4rem;
	width: 3.2rem;
}

.logo {
	cursor: pointer;
}

.leftHeaderSearch {
	display: none;
	cursor: pointer;
}

.search {
	display: flex;
	flex: 1;
	height: 42px;
}

.inputSearch {
	padding-left: 2rem;
	width: 300px;
	border: 1px solid white;
	background-color: transparent;
	border-radius: 50px 0 0 50px;
	color: white;
	font-size: 18px;
}

.inputSearch:active,
.inputSearch:focus {
	border: 1px solid white;
	outline: none;
}

.iconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	background-color: white;
	border: none;
	outline: none;
	border: 1px solid white;
	border-radius: 0 50px 50px 0;
	min-width: 0px;
	cursor: pointer;
}

.rightHeader {
	display: flex;
	flex: 2;
	gap: 4rem;
	align-items: center;
	justify-content: flex-end;
	min-width: 462px;
	font-size: 1.8rem;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	cursor: pointer;
}

.profile {
	background-color: transparent;
	color: white;
	font-size: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 1055px) and (max-width: 1330px) {
	.logo {
		width: 220px;
	}

	.headerContainer {
		gap: 2rem;
	}

	.inputSearch::placeholder {
		font-size: 15px;
	}

	.rightHeader {
		font-size: 15px;
		min-width: 410px;
	}

	.link .icon {
		width: 18px;
		height: 18px;
	}

	.profile .icon {
		width: 15px;
		height: 15px;
	}

	.line {
		height: 0.4rem;
	}

	.inputSearch {
		width: 210px;
	}

	.rightHeader {
		flex: 1;
	}
}

@media screen and (min-width: 300px) and (max-width: 1054px) {
	.header {
		min-height: 130px;
	}

	.logo {
		width: 220px;
	}

	.inputSearch::placeholder {
		font-size: 15px;
	}

	.rightHeader {
		font-size: 15px;
	}

	.link .icon {
		width: 18px;
		height: 18px;
	}

	.profile .icon {
		width: 15px;
		height: 15px;
	}

	.line {
		height: 4px;
	}

	.header {
		height: 140px;
		padding: 1.5rem 0;
	}

	.headerContainer {
		flex-wrap: wrap;
		gap: 0.6rem;
	}

	.leftHeader {
		flex: 1;
	}

	.rightHeader {
		flex: 1;
		min-width: 410px;
		margin-left: 0rem;
	}

	.search {
		order: 1;
		flex: 2;
	}

	.inputSearch {
		flex: 10;
	}

	.iconContainer {
		flex: 1;
	}
}

@media screen and (max-width: 780px) {
	.header {
		min-height: 70px;
	}

	.logo {
		width: 180px;
	}

	.hamburger {
		padding-right: 0;
	}

	.leftHeader {
		justify-content: space-between;
	}

	.line {
		width: 25px;
		height: 2px;
	}

	.header {
		height: 96px;
		padding: 0;
	}

	.rightHeader {
		display: none;
	}

	.search {
		display: none;
	}

	.leftHeaderSearch {
		display: block;
	}
}
