.outerContainer {
	padding: 0 1.5rem;
}

.cardContainer {
	position: relative;
	max-width: 314px;
	max-height: 360px;
	background-color: white;
}

.logo {
	position: absolute;
	top: 2rem;
	left: 1rem;
	z-index: 10;
	border-radius: 25px;
}

.ribbon {
	position: absolute;
	top: 5px;
	right: 0;
	background-color: #d54646;
	z-index: 10;
	font-size: 11px;
	border-radius: 0 5px 0 0;
	color: white;
	padding: 0.5rem;
	min-width: 15rem;
	text-align: center;

	--f: 10px; /* control the folded part*/
	--r: 15px; /* control the ribbon shape */
	--t: 10px; /* the top offset */

	inset: var(--t) calc(-1 * var(--f)) auto auto;
	padding: 10px 20px var(--f) calc(30px + var(--r));
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - var(--f)),
		calc(100% - var(--f)) 100%,
		calc(100% - var(--f)) calc(100% - var(--f)),
		0 calc(100% - var(--f)),
		var(--r) calc(50% - var(--f) / 2)
	);
	box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
	white-space: no-wrap;
}

.ribbonText {
	transform: translateY(-5px);
}

.image {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
	transform: translateY(4px);
}

.dealEnd {
	display: flex;
	font-size: 11px;
}

.dealTitle {
	background-color: red;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 0.5rem 0;
}

.dealTimer {
	flex: 1.5;
	padding: 0.5rem 0;
	background-color: #ac0505;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dealPrice {
	display: flex;
	align-items: center;
}

.price {
	flex: 1;
	color: #444444;
	border-bottom: 1px solid #444444;
	padding-top: 1.3rem;
	padding-left: 1rem;
	padding-bottom: 0.8rem;
}

.priceTitle {
	font-size: 10px;
	padding-bottom: 0.5rem;
}

.priceAmount {
	font-size: 16px;
}

.earn {
	flex: 1.5;
	color: #444444;
	padding-left: 0.5rem;
	border-left: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding-top: 0.3rem;
	padding-left: 1rem;
	padding-bottom: 0.8rem;
}

.earnTitle {
	flex: 1;
	display: inline;
	font-size: 10px;
	padding: 2px 4px;
	border: 0.2px solid #88888888;
	border-radius: 4px;
}

.earnProfit {
	flex: 1.5;
	font-size: 14px;
	font-weight: 700;
	padding-top: 1rem;
}

.dealsButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1rem;
	gap: 2rem;
}

.button {
	flex: 1;
	font-size: 12px;
	padding: 8px 1px;
	border-radius: 25px;
	outline: none;
}

.copy {
	border: 1px solid #232323;
	color: #232323;
	background-color: transparent;
	font-weight: 700;
}

.share {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: #4caf50;
	color: white;
	border: none;
}
