.outerContainer {
	padding: 0 0.5rem;
}

.cardContainer {
	position: relative;
	max-width: 314px;
	max-height: 360px;
	background-color: white;
}

.logo {
	position: absolute;
	top: 2rem;
	left: 1rem;
	z-index: 10;
	border-radius: 25px;
}

.ribbon {
	position: absolute;
	top: 4px;
	right: 0;
	border-top-left-radius: 5px;
	height: 2.5rem;
	width: 14.1rem;
	background-color: #d54646;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 13px;
	padding-left: 12px;
	z-index: 1;
}

.ribbon::before {
	content: '';
	position: absolute;
	right: 14rem;
	top: 0;
	border-top: 12.5px solid #d54646;
	border-bottom: 12.5px solid #d54646;
	border-left: 12.5px solid transparent;
}

.image {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
	transform: translateY(4px);
}

.dealEnd {
	display: flex;
	font-size: 11px;
}

.dealTitle {
	background-color: red;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 0.5rem 0;
}

.dealTimer {
	flex: 1.5;
	background-color: #ac0505;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dealTimer span {
	font-size: 14px;
}

.dealPrice {
	display: flex;
	align-items: center;
}

.price {
	flex: 1;
	color: #444444;
	border-bottom: 1px solid #444444;
	border-right: 1px solid #444444;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-bottom: 0.8rem;
}

.priceTitle {
	font-size: 10px;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.priceAmount {
	font-size: 16px;
	padding-left: 1rem;
}

.earn {
	flex: 1.5;
	color: #444444;
	padding-left: 0.5rem;
	border-bottom: 1px solid #444444;
	padding-top: 0.3rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.earnTitle {
	flex: 1;
	display: inline;
	font-size: 10px;
	padding: 2px 4px;
	border: 0.2px solid #88888888;
	border-radius: 4px;
}

.earnProfit {
	flex: 1.5;
	font-size: 14px;
	font-weight: 700;
	padding-top: 0.5rem;
}

.dealsButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
	gap: 2rem;
}

.button {
	flex: 1;
	font-size: 12px;
	padding: 11px 1px;
	border-radius: 25px;
	outline: none;
}

.copy {
	border: 1px solid #232323;
	color: #232323;
	background-color: transparent;
	font-weight: 700;
}

.share {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: #4caf50;
	color: white;
	border: none;
}

@media screen and (min-width: 1600px) {
	.price {
		padding-bottom: 0.8rem;
	}

	.priceAmount {
		font-size: 20px;
	}

	.earn {
		padding-bottom: 1.5rem;
	}
}
