:root {
	/* Fonts */
	--ff-primary: 'Lato', sans-serif;
	--fw-regular: 400;
	--fw-bold: 600;

	/* Colors */
	--col-header-bg: #333333;

	/* Size */
	--siz-container: 1600px;
	--siz-placeholder: 1.8rem;
}

::placeholder {
	color: white;
	opacity: 1;
	font-size: var(--siz-placeholder);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: 1.6rem;
	overflow: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	background-color: #f1f1f1;
}

.container {
	max-width: var(--siz-container);
	margin: 0 auto;
	height: 100%;
}
